<aside class="navbar_col">
    <div class="heading">
        <h2><a id="brand_name" href="/home">Oshi Time</a> </h2>
    </div>

    <ul class="navbar_items">
        <div class="user_content">
            <li class="navbar_item">
                <a href="/home">Home</a>
            </li>
        </div>
        <div class="admin_content">
            <li class="navbar_item"><a href="/firm/team"> Team</a></li>
            <li class="navbar_item"><a href="../firm/insights">Insights</a></li>
        </div>
        <div class="user_content">
            <li class="navbar_item"><a href="../firm/about">About</a></li>
            <li class="navbar_item"><a href="../firm/contact">Contact</a></li>
        </div>
    </ul>
</aside>
<!---- Navbar ends-->