<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <main>
        <section class="main-container">
            <div class="rect-box">
                <aside class="lft-square-error-page">
                    <div class="input-content alert alert-danger fade show">
                        <h2>ERROR ALERT...</h2>
                        <h5><%= err %></h5>
                        <h5>Please go back to the previous page.....</h5>
                    </div>

                </aside>
            </div>
        </section>
</main>
</body>
</html>