<% layout('layout/boilerplate')%>

<div class="col-9">
    <div class="logout-btn">
        <div class="profile-items">
            <a href="#"> <%= currentAccountName %> </a> 
        </div>
        <form action="/firm/logout" method="post">
            <button class="logout">Logout</button>
        </form>
    </div>
    <div class="body-section">
        <div class="heading-section">
            <h1>About Us</h1>
        </div>
        <hr>
        <div class="about-us">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, unde deleniti mollitia non quam ipsa et in quos libero architecto quis impedit excepturi quisquam? Aperiam delectus excepturi architecto perferendis ex recusandae assumenda quisquam blanditiis sint error deserunt aut veritatis nam, ab maiores quaerat quos accusamus tempore! Laborum nobis cum quisquam quidem quaerat! Cum sint nulla excepturi officiis illum. Eveniet nesciunt rem vel ut reprehenderit maiores perferendis, provident temporibus nemo numquam modi animi est unde excepturi quibusdam, natus voluptate adipisci quia nihil accusamus fugit. Commodi rem consectetur cumque sapiente adipisci tempora qui corrupti delectus excepturi esse cum unde eligendi dolores, velit beatae ratione nobis quidem facilis eaque aut itaque a voluptatum quod! Quis quaerat ullam quo doloremque illo, dignissimos enim debitis laudantium voluptatem ipsam unde amet. Dolorum voluptatibus perspiciatis aperiam expedita perferendis fugiat asperiores exercitationem earum. Totam corrupti ipsum laborum repudiandae laudantium repellat, excepturi nobis magni autem, rerum esse vel eveniet! Laborum officiis eveniet, veniam laudantium nostrum provident soluta suscipit ipsa, fuga pariatur rem explicabo autem sit nihil dolor eius excepturi neque aperiam sint quae placeat harum eligendi laboriosam. Deleniti aut autem aliquam, voluptate magnam explicabo possimus veritatis laboriosam odio neque corporis odit impedit! Quos consequatur amet aspernatur? Vero, nobis distinctio!</p>
        </div>
    </div>
</div>