<% layout('layout/boilerplate')%>

<div class="col-9">
    <div class="logout-btn">
        <div class="profile-items">
            <a href="#"> <%= currentAccountName %> </a> 
        </div>
        <form action="/firm/logout" method="post">
            <button class="logout">Logout</button>
        </form>
    </div>
    <div class="body-section">
        <div class="heading-section">
            <h1>About Us</h1>
        </div>
        <hr>
        <div class="about-us">
            <p>Oshi Time (for business) is free-for-all application which makes it easier for Businesses to keep track of their part-time employees worktime. 
                Together with time-tracking, Oshi Time is radically digitizing paper Payslip as, Businesses using Oshi Time are able to provide their part-time employees with streaming Payslip. </p>
        </div>
    </div>
</div>