<% layout('layout/boilerplate')%>

<div class="col-9">
    <div class="logout-btn">
        <div class="profile-items">
            <a href="#"> <%= currentAccountName %> </a> 
        </div>
        <form action="/firm/logout" method="post">
            <button class="logout">Logout</button>
        </form>
    </div>
    <div class="body-section">
        <div class="heading-section">
            <h1>Contact Us</h1>
        </div>
        <hr>
        <div class="message">
            <!-- Erase all -->

            <h6>-----------------------Thank you for reaching here--------------------------------</h6>
            <!-- Erase all -->
            <p>We are so glad that you came here looking for Oshi Wallet Pilot version. But, unfortunately you were too faster than we thought. You caught us off-guarded!! Oshi Wallet Beta version is still under development. Feel free to send us message on inquiry or suggestion.
                 Any form of Inquiry and suggestion are highly encouraged and appreciated...
                <strong>Be part of our project at our initial stage by leaving us a way to connect with you.</strong> 
                We will contact you as soon as beta version is under-deployment. </p>
        </div>
        <form action="https://getform.io/f/6053c96e-7bad-4307-82a5-b1585cfa4947" method="post" id="google-sheets">
            <div>
                <label for="name">Full Name: </label><br>
                <input type="text" id="username" name="username" placeholder="Full Name" required> 
            </div>
            <div>
                <label for="email">Email Address: </label><br>
                <input type="email" id="email" name="email" placeholder="Email Address" required> 
            </div>
            <div>
                <label for="message">Message: </label><br>
                <textarea id="message" name="message" rows="5" cols="32" placeholder="Type your inquiry here..." required></textarea>
            </div>
            <button class="blue-button" value="Submit">Send</button>
        </form>
    </div>
</div>

