<% layout('layout/boilerplate')%>

<div class="col-6">
    <%- include('../../partials/flash') %>
    <div class="container-body">
        <div class="heading">
            <h1>Add Team Member</h1>
            <p>Create a new vacant job</p>
        </div>
        <form action="/firm/addteam" method="post">
            <div>
                <label for="username">Username: </label>
                <br><small class="text-muted">Username should be same as their Oshi account username</small><br>
                <input type="text" id="username" name="username" placeholder="Employee username" required>
            </div>
            <div>
                <label for="email">Email Address: </label><br>
                <input type="email" id="email" name="email" placeholder="Email Address" required>
            </div>
            <div>
                <label for="perHour">Hourly wage: </label><br>
                <input type="text" id="perHour" name="perHour" placeholder="Receivable hourly wage" required>
            </div>
            <!-- <div>
                <label for="username">4-digit Pin Code: </label>
                <br> -->
                <!-- <br><small class="text-muted"></small><br> -->
                <!-- <input type="password" id="pinCode" name="pinCode" placeholder="4-digit Pin Code" required>
            </div> -->
            <!-- <input type="password" id="password" name="password" placeholder="password"> -->
            <button class="submit">Add Team</button>
        </form>
        <a href="/firm/team">Back</a>
    </div>
</div>